<main class="container">
    <h1 class="title text-center m-5">Payment Form</h1>
    {{#if user}}
        <div style="display: none;">CartId: <b id="cart_id">{{user.cart._id}}</b></div>

        <h1 class="text-center">Thank You for your Purchase, {{user.first_name}}!</h1>
        <p class="text-center">Your confirmation ticket is: <b></b></p>
        <p class="text-center">Please, check your inbox for the confirmation email.</p>
    {{/if}}
</main>
<script src="/js/mp.js"></script>