<div class="container">
    <form method="POST" action="/users/resetPassword" class="form_login--reset">
        <h3>Reset Password</h3>
        <label for="exampleInputEmail2" class="form-label">Email address</label>
        <input type="email" placeholder="Email" class="form-control" name="email" />
        <button type="submit" class="btn btn-warning mt-2">Send Mail</button>
    </form>
</div>